{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_4.jpg' %});">
  <div class="overlay"></div>
  <div class="container ">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
          data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
              <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                      class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
              <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Booked successfullY</h1>
          </div>
      </div>
  </div>
</div>
<div class = "mt-3 container">
  <h2>You have booked this room <br>From: {{date_from}}   <br> To: {{date_to}} </h2>
  <div class = "mt-3">
     <table class="table table-striped">
     <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">{{name}}</th>
      </tr>
     </thead>
     <tbody>
      <tr>
        <th scope="row">Owner</th>
        <td>{{owner}}</td>
      </tr>
      <tr>
        <th scope="row">Price/night</th>
        <td>{{price}}</td>
      </tr>
      <tr>
        <th scope="row">Number of days</th>
        <td>{{nights}}</td>
      </tr>
      <tr>
        <th scope="row">Total Prce</th>
        <td>{{total_price}}</td>
      </tr>

     </tbody>
       </table>
    </div>
</div>


{% endblock body %}